/* body {
  background: #defcf9;
} */
.weather-app {
  background: #fff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 3px;
}

h1 {
  font-size: 36px;
}

ul {
  color: #6c6c6c;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

#current-temperature .degrees {
  font-size: 50px;
  font-weight: 500;
}

#current-temperature .units {
  position: relative;
  top: -26px;
}

#current-temperature a {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

#current-temperature .active {
  font-weight: bold;
}

#main-icon {
  height: 70px;
  width: 70px;
}

.tip {
  margin-top: 15px;
  font-size: 18px;
}

.forecast-information {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.forecast-temp {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 10px;
}

.forecast-temp-min {
  color: #6c6c6c;
}

.forecast-day {
  font-size: 14px;
  color: #6c6c6c;
}
